{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home_login/css/style_login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home_login/css/reset.css' %}">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <!-- Bloco de slogan -->
        <div class="bloco-esquerdo">
            <div class="iluminacao-1"></div>
            <span class="slogan">Transforme dados em decisões
                <br>
                com eficiência e confiança
            </span>
            <div class="iluminacao-2"></div>
        </div>
        <!-- Bloco de Login -->
        <div class="bloco-direiro">
            <main class="login-us">
                <!-- Logo Dynamidesk -->
                <img src="{% static 'home_login/img/Logo.png' %}" alt="">
                <!-- Nome da aplicação -->
                <h2 class="title">Dynamidesk</h2>
                <!-- campo do login e-mail -->
                <input class="login-email" type="email" placeholder="Digite seu e-mail">
                <!-- campo de login seha -->
                <input class="login-senha" type="password" placeholder="Digite seu e-mail">
                <!-- botão de login -->
                <button class="button-login">Login</button>
            </main>
        </div>
    </div>
</body>

</html>