{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home_login/css/style_login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home_login/css/reset.css' %}">
    <title>Login</title>
</head>

<body>
    <div class="container">

        <div class="bloco-esquerdo">

        </div>

        <div class="bloco-direiro">
            <main class="login-us">
                <img src="{% static 'home_login/img/Logo.png' %}" alt="">
                <h2>Dynamidesk</h2>
                <section class="login-email">                    
                </section>
                <section class="login-senha">
                </section>
                <button class="button-login"></button>
            </main>
        </div>
    </div>
</body>

</html>