{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home_login/css/style_login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home_login/css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home_login/css/fonts.css' %}">
    <link rel="stylesheet" href="https://use.typekit.net/bei2lie.css">


    <title>Login</title>
</head>

<body>
    <div class="container">
        <!-- Bloco de slogan -->
        <div class="bloco-esquerdo">
            <div class="iluminacao-1"></div>
            <span class="slogan">Transforme dados em decisões
                <br>
                com eficiência e confiança
            </span>
            <div class="iluminacao-2"></div>
        </div>
        <!-- Bloco de Login -->
        <div class="bloco-direiro">
            <!-- o CSRF serve para proteção contra ataques -->
            {% csrf_token %} 
            <form method="post">
                <main class="login-us">
                    <!-- Logo Dynamidesk -->
                    <img src="{% static 'home_login/img/Logo.png' %}" alt="">
                    <!-- Nome da aplicação -->
                    <h2 class="title">Dynamidesk</h2>
                    <!-- campo do login e-mail -->
                    {{ form.email }}
                    <!-- campo de login seha -->
                    {{ form.password }}
                    <!-- botão de login -->
                    <button type="submit"  class="button-login">Login</button>
                </main>
        </div>
    </div>

    </form>
</body>

</html>